* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --gx-accent-color: hsla(264, 100%, 72%, 1);
    --gx-highlight-color: hsla(264, 100%, 72%, 0.5);
    --gx-primary-button-font-color: white;
    --gx-primary-font-color: hsla(248, 40%, 100%, 1);
    --gx-secondary-font-color: hsla(248, 40%, 77%, 1);
    --gx-primary-button-color: hsla(264, 100%, 72%, 1);
    --gx-primary-button-disabled-color: hsla(248, 40%, 16%, 0.5);
    --gx-primary-button-hover-color: hsla(264, 100%, 72%, 1);
    --gx-primary-button-focus-color: hsla(264, 100%, 72%, 1);
    --gx-secondary-button-color: hsla(248, 40%, 12%, 1);
    --gx-secondary-button-hover-color: hsla(248, 40%, 8%, 1);
    --gx-secondary-button-focus-color: hsla(248, 40%, 8%, 1);
    --gx-primary-background-color: hsla(248, 40%, 8%, 1);
    --gx-secondary-background-color: hsla(248, 40%, 12%, 1);
    --gx-input-background-color: hsla(248, 40%, 16%, 1);
    --gx-input-border-color: hsla(248, 40%, 32%, 1);
    --gx-button-background-color: hsla(248, 40%, 20%, 1);
    --gx-button-background-hover-color: hsla(248, 40%, 32%, 1);
    --gx-button-background-focus-color: hsla(248, 40%, 59%, 1);
    --gx-separator-color: hsla(248, 40%, 32%, 1);
    --beta-badge-color: var(--gx-primary-background-color);
    --beta-badge-background: var(--gx-primary-background-color);
    --primary-font-color: var(--gx-primary-font-color);
    --input-border-color: var(--gx-input-border-color);
    --input-background-color: var(--gx-input-background-color);
}

body {
    background-color: var(--background);
    height: 100%;
    margin: 0;
}

div {
    display: block;
}

.title {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: 0px 4px 5px rgb(61 52 61 / 10%);
    color: inherit;
    border-bottom: 1px solid var(--separator-color);
    background-color: var(--secondary-background-color);
    background: #1c1d1f;
}

.total1 {
    height: 72px;
    padding: 0 24px;
    min-height: 64px;
}

.btn1 {
    outline: 0;
    user-select: none;
    vertical-align: middle;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background: var(--gx-secondary-button-color);
    line-height: 1.75;
    border-radius: 4px;
    margin: 0 16px;
    padding: 4px 8px;
    min-width: 80px;
    font-size: 0.8125rem;
}

.span1 {
    background: #ced1d2;
}

.div1 {
    height: 24px;
    width: 24px;
}

.name {
    background: #ffffff;
    padding: 8px 16px;
    font-size: 17px;
    line-height: 24px;
}

.name1 {
    font-size: 10px;
    color: var(--beta-badge-color);
    background: var(--beta-badge-background);
    line-height: 9px;
    border-radius: 2px;
    top: -8px;
    left: -12px;
    padding: 2px 4px;
}

.mid {
    min-height: calc(100% - 48px);
    padding-top: 37px;
    padding-bottom: 48px;
    max-width: unset;
}

.mtop {
    margin-top: -20px;
    height: 16px;
}

.mmid {
    margin-top: 32px;
}

.btn2 {
    font-size: 12px;
    line-height: 16px;
    padding: 6px 8px;
    min-width: 64px;
    border-radius: 4px;
    border: 0;
    outline: 0;
    text-decoration: none;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.span2 {
    margin-left: 8px;
    margin-right: -4px;
    font-size: 20px;
}

.svg1 {
    margin-left: 2px;
    fill: var(--primary-font-color);
    width: 1rem;
    height: 1rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.div2 {
    max-width: 50%;
}

.div3 {
    border: 1px solid var(--input-border-color);
    height: 30px;
    max-width: 320px;
    background: var(--input-background-color);
    border-radius: 6px;
    margin-bottom: 8px;
    color: #ffffff;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.div4 {
    width: calc(100% - 40px - 16px);
}

.div5 {
    left: 10px;
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
}

.input1 {
    font: inherit;
    color: currentColor;
    border: 0;
    height: 1.1876rem;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    animation-name: mui-atuo-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
}